* {
  box-sizing: border-box;
}

body {
  margin: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

h1,
h2 {
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.list-item,
input,
label {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

button {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
}

input[type='text'],
input[type='email'],
input[type='password'] {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 40px;

  padding: 8px 16px;

  background-color: transparent;

  transition: border-color 0.3s;
}

input[type='text']:hover,
input[type='email']:hover,
input[type='password']:hover {
  border-color: #000;
}

input[type='text']:focus,
input[type='email']:focus,
input[type='password']:focus {
  border-color: #808080;
  outline: none;
}

/* ---------------------- */
/* ------- task-1 ------- */

.item {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 16px;
  width: 392px;
  height: auto;
  margin-bottom: 24px;
  background-color: #f6f6fe;
  list-style-type: none;
}

h2 {
  margin: 0;
  margin-bottom: 16px;
}

.list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.list-item {
  border: 1px solid #808080;
  border-radius: 4px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  margin-bottom: 8px;
}

/* ---------------------- */
/* ------- task-2 ------- */

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;

  padding: 100px 156px;
}

.gallery li {
  list-style-type: none;
}

.gallery img {
  width: 360px;
  height: 300px;
  object-fit: cover;
}

/* ---------------------- */
/* ------- task-4 ------- */

.login-form {
  display: flex;
  flex-direction: column;
  max-width: 408px;
  padding: 24px;
}

input[type='email'],
input[type='password'] {
  margin-bottom: 8px;
  margin-top: 8px;
}

.sub-btn {
  border-radius: 8px;
  padding: 8px 16px;
  width: 86px;
  height: 40px;

  margin-top: 16px;

  background-color: #4e75ff;
  border: none;

  cursor: pointer;

  transition: border-color 0.3s;
}

.sub-btn:hover {
  background-color: #6c8cff;
}

/* ---------------------- */
/* ------- task-5 ------- */

.widget {
  padding: 20px;
  text-align: center;
}

.change-color {
  border-radius: 8px;
  padding: 8px 16px;
  width: 148px;
  height: 40px;

  margin-top: 16px;

  background: #4e75ff;
  border: none;

  cursor: pointer;

  transition: border-color 0.3s;
}

.change-color:hover {
  background-color: #6c8cff;
}

/* ---------------------- */
/* ------- task-6 ------- */

#controls {
  background-color: #f6f6fe;

  padding: 20px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

input[type='number'] {
  border: 1px solid #808080;
  border-radius: 8px;
  padding: 8px;
  width: 200px;
  height: 40px;

  text-align: center;

  background-color: transparent;

  transition: border-color 0.3s;
}

input[type='number']:hover {
  border-color: #000;
}

input[type='number']:focus {
  border-color: #808080;
  outline: none;
}

button[data-create] {
  border-radius: 8px;
  padding: 8px 16px;
  width: 120px;
  height: 40px;

  background-color: #4e75ff;
  border: none;

  cursor: pointer;

  transition: border-color 0.3s;
}

button[data-create]:hover {
  background-color: #6c8cff;
}

button[data-destroy] {
  border-radius: 8px;
  padding: 8px 16px;
  width: 120px;
  height: 40px;

  background-color: #ff4e4e;
  border: none;

  cursor: pointer;

  transition: border-color 0.3s;
}

button[data-destroy]:hover {
  background-color: #ff7070;
}

#boxes {
  background-color: #f6f6fe;
  display: flex;
  flex-wrap: wrap;
  padding: 32px;
  gap: 44px;
}
