.number-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.number {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 18px;
}

.even {
  background-color: #8bc34a;
}

.odd {
  background-color: #ffed3b;
}

.input-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.number-input {
  max-width: 360px;
  height: 40px;
  border-radius: 6px;
  display: block;
  margin-right: 20px;
  border: 1px solid #5e5e5e;
  padding-left: 15px;
}

.number-btn {
  border: none;
  cursor: pointer;
  background-color: blue;
  height: 40px;
  border-radius: 6px;
  color: white;
  min-width: 120px;
}

.film-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
}

img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ------------------- */

.film-grid-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 16px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.film-grid-item {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  transition: opacity 0.3s ease;
}

.film-grid-item img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  display: block;
}

.film-grid-item h3 {
  margin: 12px;
  font-size: 16px;
  text-align: center;
}

.film-grid-item.watched {
  opacity: 0.5;
}
